<div class="container-fluid position-relative bg-white d-flex p-0">
  <!-- Spinner Start-->
  <div class="container" *ngIf="false; else loading">
    <app-loading></app-loading>
  </div>

  <ng-template #loading>
    <!-- Navbar Start -->
    <div class="sidebar pe-4 pb-3" style="background-color: #1C2534;">
      <app-sidebar></app-sidebar>
    </div>
    <!-- Navbar End -->

  <!-- Toast Container -->
  <div class="toast-container">
    <app-toast></app-toast>
  </div>

    <!-- Content Start -->
    <div class="content">
      <app-navbar></app-navbar>
      <router-outlet></router-outlet>
    </div>
    <!-- Content End-->
  </ng-template>


</div>
