<div class="container-fluid pt-4 px-4">
    <div>
        <h1 style="font-weight: bold;">Bins Management</h1>
        <p>Here you can add or delete your Bins</p>
    </div>
    
    <div class="row p-2">
        <app-map [bins]="binEntities" (selectedCoords)="handleSelectedCoords($event)" (selectedBin)="handleSelectedBin($event)" ></app-map>
    </div>
  
    <div class="row p-2 justify-content-center">
        <div class="col text-center">
            <button class="btn btn-secondary btn-lg" (click)="toggleAddBin()">Add Bin Menu</button>
        </div>
        
        <div class="col text-center">
            <button class="btn btn-secondary btn-lg" (click)="toggleDeleteBin()">Delete Bin Menu</button>
        </div>
    </div>

    <div class="row p-2">
        <div *ngIf="showAddBin" class="card p-4 mx-auto">
            <h4>Add Bin Form</h4>
            <h6>Select a position on Map</h6>
            <div *ngIf="selectedPosition" class="row">
              <div class="col">
                <p><strong>Latitude: </strong> {{selectedPosition!.lat | number:'1.2-2'}}°</p>
              </div>
              <div class="col">
                <p><strong>Longitude: </strong> {{selectedPosition!.lng | number:'1.2-2'}}°</p>
              </div>
              <button class="btn btn-primary" (click)="createBin()">Add the Bin!</button>
            </div>
            
            <div *ngIf="!selectedPosition" class="row">
                <p>No position selected</p>
            </div>
          </div>

          <div *ngIf="showDeleteBin" class="card p-4 mx-auto">
            <h4>Delete Bin Form</h4>
            <h6>Select a marker on Map</h6>
            <div *ngIf="selectedBin" class="row">
              <div class="col">
                <p><strong>Bin ID: </strong> {{selectedBin!.id}} </p>
                <p><strong>Latitude: </strong> {{selectedBin!.latitude}} °</p>
              </div>
              
              <div class="col">
                <p><strong>Capacity: </strong> {{selectedBin!.capacity}} kg</p>
                <p><strong>Longitude: </strong> {{selectedBin!.longitude}} °</p>
              </div>

              <button class="btn btn-danger" (click)="deleteBin()">Delete the Bin!</button>

            </div>

            <div *ngIf="!selectedBin" class="row">
                <p>No bins selected</p>
            </div>
          </div>
    </div>
</div>
